# question #1

a)create list named fruits

b)add pear to the end of te list

c)insert mango at the 2nd position of  the list

d)remove orange from the list

In [1]:
fruit=["apple","banana","orange","grape","kiwi"]

In [2]:
fruit=["apple","banana","orange","grape","kiwi"]
fruit.append("pear")
print(fruit)

['apple', 'banana', 'orange', 'grape', 'kiwi', 'pear']

In [3]:
fruit=["apple","banana","orange","grape","kiwi"]
fruit.insert(2,"mango")
print(fruit)

['apple', 'banana', 'mango', 'orange', 'grape', 'kiwi']

In [4]:
fruit=["apple","banana","mango","orange","grape","kiwi"]
fruit.remove("orange")
print(fruit)

['apple', 'banana', 'mango', 'grape', 'kiwi']

#  question#2

# slicing and indexing

a)create list named numbers containing the integers from  0 to 9

b)print the element at index 3

c)print asublist contaning the elements from index 2 to 6 inclusive

d)print the last three elements using negative indexing

In [5]:
numbers=[0,1,2,3,4,5,6,7,8,9]

In [6]:
numbers=[0,1,2,3,4,5,6,7,8,9]
print(numbers[3])

3

In [7]:
numbers=[0,1,2,3,4,5,6,7,8,9]
print(numbers[2:7])

[2, 3, 4, 5, 6]

In [8]:
numbers=[0,1,2,3,4,5,6,7,8,9]
print(numbers[-3:])

[7, 8, 9]

# question## 3

a)create list named squares using list comprehension that contains there squares numbers from 1 to 10

b)create list named even_squares using a list comprehensionthat contains te square of even numbers squares from the square list.

In [9]:

numbers=[0,1,2,3,4,5,6,7,8,9]
for i in numbers:
    print(i*i)

0
1
4
9
16
25
36
49
64
81

In [10]:
squares=[x*x for x in numbers]
print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [11]:
even_squares=[x*x for x in numbers if x%2==0]
print(even_squares)

[0, 4, 16, 36, 64]

In [12]:
odd_squares=[x*x for x in numbers if x%2==1]
print(odd_squares)

[1, 9, 25, 49, 81]

# question#4

a)creatwe list  named colors containing items red, green, blue ,yellow,purple

b)swap the 1st and last elements of  the list

c)reverse the order of  the list

d)remove the second and third   elements of  the list

In [13]:
colors=["red","green","blue","yellow","purple"]

In [14]:
colors=["red","green","blue","yellow","purple"]
element1=colors[0]
element2=colors[-1]
colors[0]=element2
colors[-1]=element1
print(colors)

['purple', 'green', 'blue', 'yellow', 'red']

In [15]:
colors=["red","green","blue","yellow","purple"]
colors.remove("green")
print(colors)

['red', 'blue', 'yellow', 'purple']

In [16]:
colors.remove("blue")
print(colors)

['red', 'yellow', 'purple']

In [17]:
colors=["red","green","blue","yellow","purple"]
colors.reverse()
print(colors)

['purple', 'yellow', 'blue', 'green', 'red']

# question #5

a)create list  named lettres containing the lettres from a to j

b)using slicing create list first half containing the ist half lettres list

c)using slicing create new  list  last theree containing the last  three lettres list

In [18]:
letters=["a","b","c","d","e","f","g","h","i"]

In [19]:
letters=["a","b","c","d","e","f","g","h","i"]
print(letters[0:5])

['a', 'b', 'c', 'd', 'e']

In [20]:
letters=["a","b","c","d","e","f","g","h","i"]
print(letters[-3:])

['g', 'h', 'i']

# question #6

a)create a nested luist named  matrix following  rows

[1,2,3]

[4,5,6]

[7,8,9]

b)print the elements in the  second row and  3rd  coloumn

c)use nested indexing to  change the  value  at  the  second row and 1st

coloumn  to  0

In [21]:
matrix=[[1,2,3],[4,5,6],[7,8,9]]
print(matrix[1][2])

6

In [22]:
matrix=[[1,2,3],[4,5,6],[7,8,9]]
matrix[1][0]=0
print(matrix)

[[1, 2, 3], [0, 5, 6], [7, 8, 9]]